@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h5 class="display-4">Bienvenido Dr. @ViewData["nombreUsuario"]</h5>
    <div class="mt-3">
        <p>Contamos con los mejor personal de salud para cuidar tu salud.</p>
        <img src="~/images/consultorio.jpg" style="width:70%; height: auto" />
    </div>
</div>
